// Enemies
.enemies {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  background: #ba3b3a;
  border-radius: 10px;
  box-shadow: $shadow_principal;
  border: 2px solid #e44e4e;
  margin: 70px 0;
  padding: 40px;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.enemies_content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 50px;

    @media screen and (max-width:700px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 19px;
    padding: 10px 0;
  }
}

.btn_enemies {
  display: flex;
  justify-content: start;
  align-items: start;

  @media screen and (max-width: 1050px) {
    justify-content: center;
    // align-items: center;
  }

  a {
    background: $color_amarillo;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    transition: .5s ease;
  }

  a:hover {
    background: $color_amarillo_hover;
    box-shadow: 2px 2px 30px #ffee00;
  }
}

.enemies_image {
  margin: auto;
  animation: movimiento_enemies 7s linear infinite;

  img {
    max-width: 450px;
    max-height: 400px;
    width: 100%;
    height: 100%;

  }

  @keyframes movimiento_enemies {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(7%);
    }

    100% {
      transform: translateX(0);
    }
  }
}