.header{
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
}

.contenido{
  display: grid;
  align-items: end;
  margin-bottom: 40px;
}

.contenido_text {
  justify-content: center;
  align-items: end;
  letter-spacing: 0.5px;  
}

.title{
  h1{
    font-size: 80px;
    color: white;

    @media screen and (max-width: 550px) {
      font-size: 50px;
    }
  }
}

.parrafo{
  p{
    color: white;
    font-weight: 600;
    line-height: 25px;
  }
}

.btns{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.btn_2{
  
  a{
    text-decoration: none;
    color: $color_amarillo;
    font-weight: 600;
  }

  a:hover{
    color: $color_amarillo_hover;
  }
}

.banner_img{
  float: right;
  animation: movimiento 10s linear infinite;
  position: relative;

  img{
    display: block;
    max-width: 520px;
    width: 100%;
    max-height: 550px;
    height: 100%;

    @media screen and (max-width: 1200px) {
      margin: auto;
    }
  }

  @keyframes movimiento {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(5%);
    }
    100%{
      transform: translateY(0);
    }
  }
}

.box_image{
  position: absolute;
  bottom: 50px;
  right: 150px;
  background:  $color_principal_box;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: $shadow_principal;
  width: 250px;
  border: 2px solid   #e44e4e;

  @media screen and (max-width: 1200px) {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.box_image_top{
  display: grid;
  gap: 70px;
  grid-template-columns: 5fr 1fr;
}

.box_image_name{
  p{
    color: $color_blanco_gris;
  }
  h2{
    color: white;
    font-size: 19px;
  }
}

.box_image_icon{
  display: flex;
  justify-content: center;
  background:  $color_svg_bg;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  
  svg{
    width: 18px;
    fill: $color_svg;
  }
}

.box_image_bottom{
  padding: 10px 0 0 0;
  color: $color_blanco_gris;
}