
 



$color_svg: #f04c4c;
$color_svg_bg: #ba3b3a;
$color_principal: #cf4040;
$color_principal_box: #f04c4c;
$shadow_principal: 1px 1px 10px  #ba3b3a;


$color_blanco_gris: #e7d2c8;


$color_amarillo: #f6bc0d;
$color_amarillo_hover: #ffee00;